body {
    font-family: 'Inter', sans-serif;
    color: #1B1C1E;
    margin: 0 auto;
    height: 100vh;
    max-width: 1200px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    height: 100%;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

.input-container {
    position: relative;
    width: 100%;
}

.search-input,
input,
textarea {
    width: 100%;
    padding: 8px 12px;
    font-family: 'Inter', sans-serif;
    border-radius: 12px;
    background-color: #EEEFF0;
    transition: background-color 0.3s ease;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.search-input {
    padding-left: 40px;
}

input:hover,
textarea:hover,
.search-input:hover {
    background-color: #DCDEE0;
}

input:focus,
textarea:focus,
.search-input:focus {
    background-color: #FFFFFF;
    outline: none;
    border: 1px solid #BDC3C7;
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.full-width-button {
    width: 100%;
    box-sizing: border-box;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 16px 0;
}

.note,
.modal-content,
.delete-modal-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 24px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 16px 0px #00000012;
}

.note {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    gap: 16px;
    position: relative;
}

#notes-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#notes-list::-webkit-scrollbar {
    width: 5px;
}

#notes-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

#notes-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
}

#notes-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.note-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
}

.empty-note-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 100px;
}

.empty-note-content p {
    text-align: center;
}

.note-icons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.icon-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.icon-button:hover {
    background-color: #F2F2F2;
}

.modal {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-modal-button-wrapper {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.hover-text {
    color: #0F75B8;
    text-decoration: none;
    position: relative;
    font-size: 14px;
    cursor: pointer;
}

.hover-text::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1px;
    width: 0;
    height: 1px;
    background-color: #0F75B8;
    transition: width 0.3s ease, left 0.3s ease;
}

.hover-text:hover::after {
    width: 100%;
    left: 0;
}